body{
    background-color: #222;
    color: #CCC;
    font-size: 1.2em;
    background: url("debut_dark.png");
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content : space-around;
    align-items : stretch;
}

section{
    padding: 1em;
    margin: 1em;
    min-width: 26rem;
    width:25%;
    background-color: rgba(122, 122, 122, 0.3);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

section header{
    font-size: 2rem;
    font-weight: bold;
    color: #4666FF;
}

button{
    background-color: #222;
    border: 1px solid #444;
    color: #CCC;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1rem;
}

input{
    background-color: rgba(0, 0, 0, .0);
    border: 0;
    border-bottom: 1px solid #444;
    color: #CCC;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

input:focus{
    outline: none;
    border-bottom: 1px solid #4666FF;
}