@font-color: #EEE;
@background-color: #333;
@foreground-color: #555;
@subtl-color: #444;
@highlight-color: cornflowerblue;

body{
    color: @font-color;
    background-color: @background-color;

    font-size: 1.2em;
    padding-left: 1em;
}

button{
    
    padding: .5em;
    margin: .5em;
    margin-left: 0;

    font-size: 1rem;
    font-weight: bold;
    color: @highlight-color;

    background-color: @foreground-color;
    
    border: 0;
    border-radius: 5px;

    cursor: pointer;
    
    &:hover{
        background-color: @background-color;
    }

    &:focus{
        outline: none;
    }
}

input{
    background-color: rgba(0, 0, 0, .0);
    border: 0;
    border: 1px solid @subtl-color;
    color: @font-color;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1rem;
    width: 97%;
    text-align: center;

    &:focus{
        outline: none;
        border: 1px solid @highlight-color;
    }
}

textarea{
    background-color: rgba(0, 0, 0, .0);
    border: 0;
    border: 1px solid @subtl-color;
    color: @font-color;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1.2rem;
    width: 97%;
    height: 5em;

    &:focus{
        outline: none;
        border: 1px solid @highlight-color;
    }
}

.highlight{
    color: @highlight-color;
}

#ContainerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content : space-around;
    align-items : stretch;

    margin-top: 1em;

    .container{
        background-color: @foreground-color;
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);

        min-width: 25rem;
        width: 30%;

        border-radius: 5px;

        padding: 1em;
        margin-bottom: 1em;

        display: flex;
        flex-direction: column;
    
        header{
            flex-grow: 0;
            
            h2{
                margin: 0;
                padding-bottom: .5em;
                margin-bottom: .5em;
                border-bottom: 1px solid @subtl-color;
                color: @highlight-color;
            }
        }

        article{
            flex-grow: 1;
        }

        footer{
            flex-grow: 0;
        }

        &.large{
            min-width: 50rem;
            width: 60%;
        }
    }
}
